.style1 {
  background-color: transparent;
  border: none;
  color: red;
  margin-right: 15px;
  margin-left: 15px;
}
.style2 {
  background-color: transparent;
  border: none;
  margin-right: 15px;
  margin-left: 15px;
}
