.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.mainBox {
  background-color: white;
  height: 100vh;
}

.tabsBox {
  display: flex;
  align-items: center;
}
